/**
 * Settings
 *
 */
/**
 * Imports
 */
/**
 * Syntax Highlighting 
 */
/*Pygment variables*/
/**
 * Grid
 * 
 */
/**
 * Grid Debug
 * 
 * visually debug grid layouts
 */
/* line 22, ../sass/style-docs/_grid.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/style-docs/_grid.scss */
.grid-demo .unit {
  background: #999999;
  opacity: 0.5;
  height: 40px;
  border: 1px solid purple;
}
/* line 14, ../sass/style-docs/_grid.scss */
.grid-demo .row {
  background-color: purple;
  opacity: 0.6;
}

/* line 31, ../sass/style-docs/_grid.scss */
.row {
  *zoom: 1;
  padding: 0 10px;
}
/* line 38, ../../../../../Users/Sam/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*.lastUnit{@include pie-clearfix; padding: 0 $gutter;}*/
/* line 33, ../sass/style-docs/_grid.scss */
.unit {
  float: left;
  padding: 0 10px;
}

/* line 34, ../sass/style-docs/_grid.scss */
.unitRight {
  float: right;
}

/*.unit {margin-right: 10px;}*/
/*.lastUnit {margin-right: 0;}*/
/* line 40, ../sass/style-docs/_grid.scss */
.size1of1 {
  float: none;
}

/* line 41, ../sass/style-docs/_grid.scss */
.size1of2, .size2of4, .size3of6, .size4of8 {
  width: 50%;
}

/* line 42, ../sass/style-docs/_grid.scss */
.size1of3, .size2of6 {
  width: 33.33333%;
}

/* line 43, ../sass/style-docs/_grid.scss */
.size1of4, .size2of8 {
  width: 25%;
}

/* line 44, ../sass/style-docs/_grid.scss */
.size1of5 {
  width: 20%;
}

/* line 45, ../sass/style-docs/_grid.scss */
.size1of6 {
  width: 16.6666666%;
}

/* line 47, ../sass/style-docs/_grid.scss */
.size1of7 {
  width: 12.5%;
}

/* line 49, ../sass/style-docs/_grid.scss */
.size2of3, .size4of6 {
  width: 66.66666%;
}

/* line 51, ../sass/style-docs/_grid.scss */
.size2of5 {
  width: 40%;
}

/* line 53, ../sass/style-docs/_grid.scss */
.size2of7 {
  width: 28.5714286%;
}

/* line 56, ../sass/style-docs/_grid.scss */
.size3of4, .size6of8 {
  width: 75%;
}

/* line 57, ../sass/style-docs/_grid.scss */
.size3of5 {
  width: 60%;
}

/* line 59, ../sass/style-docs/_grid.scss */
.size3of7 {
  width: 42.8571429%;
}

/* line 60, ../sass/style-docs/_grid.scss */
.size3of8 {
  width: 37.5%;
}

/* line 62, ../sass/style-docs/_grid.scss */
.size4of5 {
  width: 80%;
}

/* line 64, ../sass/style-docs/_grid.scss */
.size4of7 {
  width: 57.1428572%;
}

/* line 67, ../sass/style-docs/_grid.scss */
.size5of6 {
  width: 83.3333333%;
}

/* line 68, ../sass/style-docs/_grid.scss */
.size5of7 {
  width: 71.4285715%;
}

/* line 69, ../sass/style-docs/_grid.scss */
.size5of8 {
  width: 62.5%;
}

/* line 71, ../sass/style-docs/_grid.scss */
.size6of7 {
  width: 85.7142858%;
}

/* line 74, ../sass/style-docs/_grid.scss */
.size7of8 {
  width: 87.5%;
}

/**
 * Pygments
 * 
 * syntax highlight colors
 */
/**
 * @TODO: create variables for each setting for easy customization
 * @TODO: customize colors, currently using dexy pastie filter colors
 */
/**
 * Pygments 
 */
/* line 16, ../sass/style-docs/_syntax-highlight.scss */
.hll {
  background-color: #ffffcc;
}

/* Comment */
/* line 18, ../sass/style-docs/_syntax-highlight.scss */
.c {
  color: red;
}

/* Error */
/* line 20, ../sass/style-docs/_syntax-highlight.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Keyword */
/* line 22, ../sass/style-docs/_syntax-highlight.scss */
.k {
  color: #008800;
  font-weight: bold;
}

/* Comment.Multiline */
/* line 24, ../sass/style-docs/_syntax-highlight.scss */
.cm {
  color: #888888;
}

/* Comment.Preproc */
/* line 26, ../sass/style-docs/_syntax-highlight.scss */
.cp {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Single */
/* line 28, ../sass/style-docs/_syntax-highlight.scss */
.c1 {
  color: #888888;
}

/* Comment.Special */
/* line 30, ../sass/style-docs/_syntax-highlight.scss */
.cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Generic.Deleted */
/* line 32, ../sass/style-docs/_syntax-highlight.scss */
.gd {
  color: black;
  background-color: #ffdddd;
}

/* Generic.Emph */
/* line 34, ../sass/style-docs/_syntax-highlight.scss */
.ge {
  font-style: italic;
  font-weight: normal;
}

/* Generic.Error */
/* line 36, ../sass/style-docs/_syntax-highlight.scss */
.gr {
  color: #aa0000;
}

/* Generic.Heading */
/* line 38, ../sass/style-docs/_syntax-highlight.scss */
.gh {
  color: #333333;
}

/* Generic.Inserted */
/* line 40, ../sass/style-docs/_syntax-highlight.scss */
.gi {
  color: black;
  background-color: #ddffdd;
}

/* Generic.Output */
/* line 42, ../sass/style-docs/_syntax-highlight.scss */
.go {
  color: #888888;
}

/* Generic.Prompt */
/* line 44, ../sass/style-docs/_syntax-highlight.scss */
.gp {
  color: #555555;
}

/* Generic.Strong */
/* line 46, ../sass/style-docs/_syntax-highlight.scss */
.gs {
  font-weight: bold;
}

/* Generic.Subheading */
/* line 48, ../sass/style-docs/_syntax-highlight.scss */
.gu {
  color: #666666;
}

/* Generic.Traceback */
/* line 50, ../sass/style-docs/_syntax-highlight.scss */
.gt {
  color: #aa0000;
}

/* Keyword.Constant */
/* line 52, ../sass/style-docs/_syntax-highlight.scss */
.kc {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 54, ../sass/style-docs/_syntax-highlight.scss */
.kd {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 56, ../sass/style-docs/_syntax-highlight.scss */
.kn {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 58, ../sass/style-docs/_syntax-highlight.scss */
.kp {
  color: #008800;
}

/* Keyword.Reserved */
/* line 60, ../sass/style-docs/_syntax-highlight.scss */
.kr {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Type */
/* line 62, ../sass/style-docs/_syntax-highlight.scss */
.kt {
  color: #888888;
  font-weight: bold;
}

/* Literal.Number */
/* line 64, ../sass/style-docs/_syntax-highlight.scss */
.m {
  color: #0000dd;
  font-weight: bold;
}

/* Literal.String */
/* line 66, ../sass/style-docs/_syntax-highlight.scss */
.s {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Name.Attribute */
/* line 68, ../sass/style-docs/_syntax-highlight.scss */
.na {
  color: #336699;
}

/* Name.Builtin */
/* line 70, ../sass/style-docs/_syntax-highlight.scss */
.nb {
  color: #003388;
}

/* Name.Class */
/* line 72, ../sass/style-docs/_syntax-highlight.scss */
.nc {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Constant */
/* line 74, ../sass/style-docs/_syntax-highlight.scss */
.no {
  color: #003366;
  font-weight: bold;
}

/* Name.Decorator */
/* line 76, ../sass/style-docs/_syntax-highlight.scss */
.nd {
  color: #555555;
}

/* Name.Exception */
/* line 78, ../sass/style-docs/_syntax-highlight.scss */
.ne {
  color: #bb0066;
  font-weight: #bb0066;
}

/* Name.Function */
/* line 80, ../sass/style-docs/_syntax-highlight.scss */
.nf {
  color: #0066bb;
  font-weight: bold;
}

/* Name.Label */
/* line 82, ../sass/style-docs/_syntax-highlight.scss */
.nl {
  color: #336699;
  font-style: italic;
}

/* Name.Namespace */
/* line 84, ../sass/style-docs/_syntax-highlight.scss */
.nn {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Property */
/* line 86, ../sass/style-docs/_syntax-highlight.scss */
.py {
  color: #336699;
  font-weight: bold;
}

/* Name.Tag */
/* line 88, ../sass/style-docs/_syntax-highlight.scss */
.nt {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Variable */
/* line 90, ../sass/style-docs/_syntax-highlight.scss */
.nv {
  color: #336699;
}

/* Operator.Word */
/* line 92, ../sass/style-docs/_syntax-highlight.scss */
.ow {
  color: #008800;
}

/* Text.Whitespace */
/* line 94, ../sass/style-docs/_syntax-highlight.scss */
.w {
  color: #bbbbbb;
}

/* Literal.Number.Float */
/* line 96, ../sass/style-docs/_syntax-highlight.scss */
.mf {
  color: #0000dd;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 98, ../sass/style-docs/_syntax-highlight.scss */
.mh {
  color: #0000dd;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 100, ../sass/style-docs/_syntax-highlight.scss */
.mi {
  color: #0000dd;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 102, ../sass/style-docs/_syntax-highlight.scss */
.mo {
  color: #0000dd;
  font-weight: bold;
}

/* Literal.String.Backtick */
/* line 104, ../sass/style-docs/_syntax-highlight.scss */
.sb {
  color: #dd2200;
  background-color: bold;
}

/* Literal.String.Char */
/* line 106, ../sass/style-docs/_syntax-highlight.scss */
.sc {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Doc */
/* line 108, ../sass/style-docs/_syntax-highlight.scss */
.sd {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Double */
/* line 110, ../sass/style-docs/_syntax-highlight.scss */
.s2 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Escape */
/* line 112, ../sass/style-docs/_syntax-highlight.scss */
.se {
  color: #0044dd;
  background-color: #fff0f0;
}

/* Literal.String.Heredoc */
/* line 114, ../sass/style-docs/_syntax-highlight.scss */
.sh {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Interpol */
/* line 116, ../sass/style-docs/_syntax-highlight.scss */
.si {
  color: #3333bb;
  background-color: #fff0f0;
}

/* Literal.String.Other */
/* line 118, ../sass/style-docs/_syntax-highlight.scss */
.sx {
  color: #22bb22;
  background-color: honeydew;
}

/* Literal.String.Regex */
/* line 120, ../sass/style-docs/_syntax-highlight.scss */
.sr {
  color: #008800;
  background-color: #fff0ff;
}

/* Literal.String.Single */
/* line 122, ../sass/style-docs/_syntax-highlight.scss */
.s1 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Symbol */
/* line 124, ../sass/style-docs/_syntax-highlight.scss */
.ss {
  color: #aa6600;
  background-color: #fff0f0;
}

/* Name.Builtin.Pseudo */
/* line 126, ../sass/style-docs/_syntax-highlight.scss */
.bp {
  color: #003388;
}

/* Name.Variable.Class */
/* line 128, ../sass/style-docs/_syntax-highlight.scss */
.vc {
  color: #336699;
}

/* Name.Variable.Global */
/* line 130, ../sass/style-docs/_syntax-highlight.scss */
.vg {
  color: #dd7700;
}

/* Name.Variable.Instance */
/* line 132, ../sass/style-docs/_syntax-highlight.scss */
.vi {
  color: #3333bb;
}

/* Literal.Number.Integer.Long */
/* line 134, ../sass/style-docs/_syntax-highlight.scss */
.il {
  color: #0000dd;
  font-weight: bold;
}

/**
 * Components
 *
 * page components for style-docs
 */
/*** @export "sass-header" css */
/**
 * Header
 */
/* line 21, ../sass/style-docs/_components.scss */
.styleguide-header {
  background: black;
  color: white;
  padding: 20px 10px 20px 10px;
}

/*** @export "footer" css */
/**
 * Navigation
 * 
 */
/* line 33, ../sass/style-docs/_components.scss */
.global-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  *zoom: 1;
}
/* line 38, ../../../../../Users/Sam/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.global-nav ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../sass/style-docs/_components.scss */
.global-nav ul > li {
  float: left;
}
/* line 41, ../sass/style-docs/_components.scss */
.global-nav ul > li > a {
  display: inline-block;
  margin-right: 10px;
}
/* line 45, ../sass/style-docs/_components.scss */
.global-nav ul a {
  color: #999999;
  font-weight: normal;
  text-decoration: none;
}
/* line 49, ../sass/style-docs/_components.scss */
.global-nav ul a:visited {
  color: #999999;
}
/* line 52, ../sass/style-docs/_components.scss */
.global-nav ul a:hover {
  color: #ffffff;
}

/**
 * Footer
 */
/* line 73, ../sass/style-docs/_components.scss */
.styleguide-footer {
  clear: both;
  padding: 20px 10px 20px 10px;
  background: black;
  color: white;
}

/**
 * Code Block
 */
/* @TODO: possible to inject classes in Dexy generated markup, to allow for scoped styles? */
/* line 84, ../sass/style-docs/_components.scss */
code,
pre {
  background: ghostwhite;
  border: 1px solid grey;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

/**
 * Layout 
 *
 * page layout styles for styleguide
 */
/**
 * Style Tile Style
 *
 */
/*@include grid-debug();*/
/**
 * Swatches
 */
/* line 16, ../sass/style-docs/_styletile.scss */
.swatch-row {
  *zoom: 1;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 38, ../../../../../Users/Sam/.rvm/gems/ruby-2.0.0-p0/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.swatch-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/style-docs/_styletile.scss */
.swatch-row li {
  float: left;
}

/* line 26, ../sass/style-docs/_styletile.scss */
.swatch-1of1 {
  width: 100%;
}

/* line 27, ../sass/style-docs/_styletile.scss */
.swatch-1of2 {
  width: 49.5%;
}

/* line 28, ../sass/style-docs/_styletile.scss */
.swatch-1of3 {
  width: 32.66667%;
}

/* line 29, ../sass/style-docs/_styletile.scss */
.swatch-1of4 {
  width: 24.25%;
}

/* line 30, ../sass/style-docs/_styletile.scss */
.swatch-1of5 {
  width: 19.2%;
}

/* line 31, ../sass/style-docs/_styletile.scss */
.swatch-1of6 {
  width: 15.83333%;
}

/* line 32, ../sass/style-docs/_styletile.scss */
.swatch-1of7 {
  width: 13.42857%;
}

/* line 33, ../sass/style-docs/_styletile.scss */
.swatch-1of8 {
  width: 11.625%;
}

/* line 35, ../sass/style-docs/_styletile.scss */
[class*="swatch-1"] {
  margin-right: 1%;
}

/* line 36, ../sass/style-docs/_styletile.scss */
[class*="swatch-1"]:last-of-type {
  margin-right: 0;
}

/**
 * Color Swatches
 */
/* line 49, ../sass/style-docs/_styletile.scss */
[class*="color-swatch-"] {
  height: 5em;
  border: 4px solid white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

/* line 56, ../sass/style-docs/_styletile.scss */
.color-swatch-1 {
  background: black;
}

/* line 57, ../sass/style-docs/_styletile.scss */
.color-swatch-2 {
  background: #222222;
}

/* line 58, ../sass/style-docs/_styletile.scss */
.color-swatch-3 {
  background: #666666;
}

/* line 59, ../sass/style-docs/_styletile.scss */
.color-swatch-4 {
  background: #999999;
}

/* line 60, ../sass/style-docs/_styletile.scss */
.color-swatch-5 {
  background: white;
}

/**
 * Texture Swatches
 */
/* line 70, ../sass/style-docs/_styletile.scss */
[class*="texture-swatch-"] {
  overflow: hidden;
  height: 8em;
  border: 4px solid white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

/* line 77, ../sass/style-docs/_styletile.scss */
.texture-swatch-1 {
  background: white;
}

/* line 78, ../sass/style-docs/_styletile.scss */
.texture-swatch-2 {
  background: white;
}

/* line 79, ../sass/style-docs/_styletile.scss */
.texture-swatch-3 {
  background: white;
}
