<section class="color-stack">
  <h3 class="section-heading">Color Stack</h3>
  <ul class="swatch-row">
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-2 swatch-1of5"></li>
    <li class="color-swatch-3 swatch-1of5"></li>
    <li class="color-swatch-4 swatch-1of5"></li>
    <li class="color-swatch-5 swatch-1of5"></li>
  </ul>
</section>

<section class="tint-stack">
  <h3 class="section-heading">Tint Stack</h3>
  <ul class="swatch-row">
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
  </ul>
</section>

<section class="tone-stack">
  <h3 class="section-heading">Tone Stack</h3>
  <ul class="swatch-row">
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
  </ul>
</section>

<section class="shade-stack">
  <h3 class="section-heading">Shade Stack</h3>
  <ul class="swatch-row">
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
    <li class="color-swatch-1 swatch-1of5"></li>
  </ul>
</section>

<section class="textures">
  <h3 class="section-heading">Textures</h3>
  <ul class="swatch-row">
    <li class="texture-swatch-1 swatch-1of3"></li>
    <li class="texture-swatch-2 swatch-1of3"></li>
    <li class="texture-swatch-3 swatch-1of3"></li>
  </ul>
</section>

