/*** @export "buttons" css */
button {
    display: block;
    background-color: red;
    color: white;
    border: 2px solid darkred;
    border-radius: 4px;
    padding: 1em;
    font: 110% sans-serif;
}
/*** @export "button-hover" css */
button:hover { 
  background: darkred;
  border: 2px solid black;
}





