/**
 * Content Reference Wireframe
 * 
 */
*,
*:after,
*:before { box-sizing: border-box; }
@mixin a-clearfix() {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

%cf {
  @include a-clearfix();
}
/**
 * Wireframe Layout
 */
@import "singularitygs";
$output: float;
$breakpoint-to-ems: true;
$bp1: 45em;
$bp2: 65em;
$grids: 4;
$grids: add-grid(6 at $bp1);
$grids: add-grid(8 at $bp2);
$gutters: 0;

.wireframe {
  @include background-grid;
  max-width: 95%;
//  @extend %cf;
  margin: 0 auto;

  .block--structure {
//    padding: 1em;
//    margin: .5em;
    border: 1px solid;
    max-width: 100%;
  }
  .block--skin {
    border-color: $subtle;
    background-color: $muted;
    text-align: center;
  }
  
  .header { 
    @include grid-span(4, 1);
    @include breakpoint($bp1) {
      @include grid-span(6, 1); 
    } 
    @include breakpoint($bp2) {
      @include grid-span(8, 1); 
    } 
  }
  .navigation { 
    @include grid-span(4, 1);
    @include breakpoint($bp1) {
      @include grid-span(6, 1); 
    } 
    @include breakpoint($bp2) {
      @include grid-span(8, 1); 
    } 
  }
  .main-content {
    @include grid-span(4, 1);
    @include breakpoint($bp1) {
      @include grid-span(4, 3); 
    }
    @include breakpoint($bp2) {
      @include grid-span(4, 3); 
    }
  }
  .primary-side-bar {
    @include grid-span(4, 1);
    @include breakpoint($bp1) {
      @include grid-span(2, 1); 
    }
    @include breakpoint($bp2) {
      @include grid-span(2, 1); 
    }
  }
  .secondary-side-bar {
    @include grid-span(4, 1);
    @include breakpoint($bp1) {
      @include grid-span(6, 1); 
    } 
    @include breakpoint($bp2) {
      @include grid-span(2, 7); 
    }
  }
  
  .footer {
    @include grid-span(4, 1);
    @include breakpoint($bp1) {
      @include grid-span(6, 1); 
    } 
    @include breakpoint($bp2) {
      @include grid-span(8, 1); 
    } 
  }

}

