/**
 * Temporary Styles
 *
 * Styles that don't yet have a home within the project architecture
 */


/**
 * Fix <code> elements nested within <pre>
 */
pre {
  border: none;
  margin: 0;
}

/**
 * Style-Docs Header
 *
 */
.header {
  width: 100%;
  padding: 10px;
  z-index: 2;
  background: black(30);
  color: black(20);
  position: absolute;
  @extend %cf;
  & h1 {
    float: left;
    margin: 10px;
    font-size: 1.5em;
    font-family: $helvetica;
  }
}

// refactor this...do not style js prefixed class in production code!
.js-nav-link {
  float: left;
  margin: 10px;
}
// refactor this...do not style js prefixed class in production code!
.js-annotation-link {
  float: right;
  margin: 10px;
}

/**
 * Style-Docs Nav Stuructre
 *
 * extends the nav object
 */
.nav-slider--structure {
  display: block;
  width: 250px;
  margin-left: -100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0; //$spacer-unit;
  overflow: auto;
  position: fixed;
}

/**
 * Style-Docs Nav Skin
 *
 * extends the nav object
 */
.nav-slider--skin {
  background: white(10);
  transition: all 0.5s cubic-bezier(0.09, 0.68, 0, 0.99) 0s;
  & > li {
    display: block;

  }
}

/**
 * Style-Docs Navigation Slider
 *
 */
// add these two classes to the template files and remove .nav-slider
.nav-slider {
  @extend .nav-slider--structure;
  @extend .nav-slider--skin;
}

.nav-slider.is-active {
  margin-left: 0;
}

/**
 * Nav Styledocs Skin
 * 
 */
.nav-styledocs--skin {
  & > li a:hover {
    background: white(20); 
  }
  a {
    padding: 10px 10px 0 10px;
    color: $blue-green;
    font-weight: normal;                   
    text-decoration: none;
    &:visited { 
      color: $blue-green; 
    }
    &:hover { 
      color: $blue-green--tint-2; 
    } 
    &:focus { 
      color: $blue-green--tint-2; 
    }
  }
}

.nav__vertical a {
  display: block !important; // overrides .nav li a { display: inline-block; } //
}

/**
 * Style-Docs Annotation Slider
 *
 */

.annotation-slider--structure {
  display: block;
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: $spacer-unit;
  margin-right: -100%;
  overflow: auto;
  position: fixed;
}

.annotation-slider--skin {
  background: $muted-color--bg;
  transition: all 0.5s cubic-bezier(0.09, 0.68, 0, 0.99) 0s;
}

.annotation-slider {
  @extend .annotation-slider--structure;
  @extend .annotation-slider--skin;
}

.annotation-slider.is-active {
  margin-right: 0;
}


