<div class="wireframe">

  <div class="header block--structure block--skin">
    <p>Header</p>
  </div>

  <section class="navigation block--structure block--skin">
    <p>Navigation</p>
  </section>

  <section class="main-content block--structure block--skin">
    <p>Main Content</p>
  </section>

  <section class="primary-side-bar block--structure block--skin">
    <p>Primary Side Bar</p>
  </section>

  <section class="secondary-side-bar block--structure block--skin">
    <p>Secondary Side Bar</p>
  </section>

  <footer class="footer block--structure block--skin">
    <p>Footer</p>
  </footer>

</div>
