<!-- section "typography" -->
<div class="typographical-elements">
  <section class="typography-main">
    
  <h3 class="typography-sample">A sample header</h3>
  <p class="font-details-h3"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <h4 class="typography-sample">An example of a sub header</h4>
  <p class="font-details-h4"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <p class="lead">This is a lead paragraph... Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

  <p class="typography-sample">This sample paragraph has <strong>strong parts</strong> and <em>emphasized parts</em>. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

  <p class="font-details-p"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <a href="#" class="typography-sample">This is an example of a text link.</a>
  <p class="font-details-a"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <section> 
    <h1>Level One Heading</h1>
    <h2>Level Two Heading</h2>
    <h3>Level Three Heading</h3>
    <h4>Level Four Heading</h4>
    <h5>Level Five Heading</h5>
    <h6>Level Six Heading</h6>
  </section>

  </section>
</div>
<!-- section "end" -->


<!-- section "color-stack" -->
<section class="color-stack">
  <h3 class="section-heading">Color Stack</h3>
    <ul class="swatch-row">
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-2 swatch-1of5"></li>
      <li class="color-swatch-3 swatch-1of5"></li>
      <li class="color-swatch-4 swatch-1of5"></li>
      <li class="color-swatch-5 swatch-1of5"></li>
    </ul>
</section>
<!-- section "end" -->

<!-- section "tint-stack" -->
<section class="tint-stack">
  <h3 class="section-heading">Tint Stack</h3>
    <ul class="swatch-row">
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
    </ul>
</section>
<!-- section "end" -->

<!-- section "tone-stack" -->
<section class="tone-stack">
  <h3 class="section-heading">Tone Stack</h3>
    <ul class="swatch-row">
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
    </ul>
</section>
<!-- section "end" -->

<!-- section "shade-stack" -->
<section class="shade-stack">
  <h3 class="section-heading">Shade Stack</h3>
    <ul class="swatch-row">
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
      <li class="color-swatch-1 swatch-1of5"></li>
    </ul>
</section>
<!-- section "end" -->

<!-- section "textures" -->
<section class="textures">
  <h3 class="section-heading">Textures</h3>
  <ul class="swatch-row">
    <li class="texture-swatch-1 swatch-1of3"></li>
    <li class="texture-swatch-2 swatch-1of3"></li>
    <li class="texture-swatch-3 swatch-1of3"></li>
  </ul>
</section>
<!-- section "end" -->

