<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Descriptions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="../css/screen.css" media="screen">
    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
</head>

<body class="container">
  
  <header class="styleguide-header">
      <h1>[project-name] Style Documents</h1>
      
    <nav class="global-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="brandguidelines.html">Brand Guidelines</a></li>
        <li><a href="cuti.html">CUTI</a></li>
        <li><a href="performance.html">Performance</a></li>
        <li><a href="styletile.html">Style Tile</a></li>
        <li><a href="styleguide.html">Style Guide</a></li>
        <li><a href="patternlibrary.html">Pattern Library</a></li>
        <li><a href="grid.html">Grid</a></li>
        <li><a href="prototype.html">Prototype</a></li>
        <li><a href="#" class="annotation-link">Annotations</a></li>
      </ul>
    </nav>

  </header>
  

  <div class="page">
    <h1 id="this-is-the-descriptions-file">This is the descriptions file</h1>
<!-- section "buttons" -->
<p class="lead">
Here is the button lead paragraph marked up with the &quot;lead&quot; class.
</p>

<p>Buttons are a common ui component. The button object is extended with a size and type class. The button object and modifiers can be applied to both the button element or the link element. When using the link element first read this <a href="http://www.456bereastreet.com/archive/201302/making_elements_keyboard_focusable_and_clickable/#main">Making elements keyboard focassable and clickable</a></p>
<!-- section "typography" -->
<h2 id="typography">Typography</h2>
<p>Here is the typography section. Type is scoped in order to avoid contuous overrides. <!-- section "end" --></p>

  </div>
  
  <footer class="styleguide-footer">
  <p>Styleguide Footer Goes Here</p>
</footer>

<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/jquery.min.js"><\/script>')</script>
-->

<script src="bower_components/jquery/jquery.min.js"></script>
<script src="js/vendor/jquery-handsontable/dist/jquery.handsontable.full.js"></script>
<script src="js/main.js"></script>
<script src="js/annotation.js"></script>
</body>
</html>
</body>
</html>
 