<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Styletile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="../css/screen.css" media="screen">
    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
</head>

<body class="container">
  
  <header class="styleguide-header">
      <h1>[project-name] Style Documents</h1>
      
    <nav class="global-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="cuti.html">CUTI</a></li>
        <li><a href="brandguidelines.html">Brand Guidelines</a></li>
        <li><a href="performance.html">Performance</a></li>
        <li><a href="styletile.html">Style Tile</a></li>
        <li><a href="styleguide.html">Style Guide</a></li>
        <li><a href="patternlibrary.html">Pattern Library</a></li>
        <li><a href="grid.html">Grid</a></li>
        <li><a href="prototype.html">Prototype</a></li>
      </ul>
    </nav>

  </header>
  

  <div class="page">
    <div class="typographical-elements">
  <section class="typography-main">
    
  <h3 class="typography-sample">A sample header</h3>
  <p class="font-details-h3"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <h4 class="typography-sample">An example of a sub header</h4>
  <p class="font-details-h4"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <p class="lead">This is a lead paragraph... Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

  <p class="typography-sample">This sample paragraph has <strong>strong parts</strong> and <em>emphasized parts</em>. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

  <p class="font-details-p"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <a href="#" class="typography-sample">This is an example of a text link.</a>
  <p class="font-details-a"><span class="font-name">Font Name</span>, <span class="font-color">#color value</span></p>

  <section> 
    <h1>Level One Heading</h1>
    <h2>Level Two Heading</h2>
    <h3>Level Three Heading</h3>
    <h4>Level Four Heading</h4>
    <h5>Level Five Heading</h5>
    <h6>Level Six Heading</h6>
  </section>

  </section>
</div>

  </div>
  
  <footer class="styleguide-footer">
  <p>Styleguide Footer Goes Here</p>
</footer>

<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/jquery.min.js"><\/script>')</script>
-->

<script src="bower_components/jquery/jquery.min.js"></script>
<script src="js/vendor/jquery-handsontable/dist/jquery.handsontable.full.js"></script>
<script src="js/main.js"></script>
</body>
</html>
</body>
</html>
 